{% extends "base_generic.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%} Show Students{% endblock %}

{% block content %}

<a href="{% url 'showStudents' id %}"><button type="button" class="btn btn-primary btn-lg">Show all Students</button></a>
<a href="{% url 'UpdateAnnouncement' id %}"><button type="button" class="btn btn-primary btn-lg">Add an announcement</button></a>
<a href="{% url 'showAnnouncements' %}"><button type="button" class="btn btn-primary btn-lg">Show all announcement</button></a>
<a href="{% url 'account_logout' %}"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>

	<div class="main">
		<div class="main-w3l">
			<h2 class="logo-w3"> </h1>
  			<div class="w3layouts-main">
          {% if announcement %}
          <ul>
            {% for announcement in announcement %}
            <li>
              <h2>
              {{announcement.poc.id}} (
              {{announcement.poc.company.company_name}} )
              </h4>
              <p>
              {{announcement.description}}
            </p>
						{% if poc.poc_id == announcement.poc.poc_id %}
						<a href="{% url 'deleteAnnouncement' announcement.pk id %}"><button type="button" class="btn btn-primary btn-lg">Delete announcement</button></a>
						{% endif %}
          </li>
            <!-- {{candidate.company_name }} {{poc.company}} -->
            {% endfor %}
        </ul>
					{% else %}
						<h3>
							NO ANNOUNCEMENTS TO DISPLAY
						</h3>
          {% endif %}
  			</div>

    </div>
	</div>

{% endblock %}
